@custom-variant disabled (&:disabled, &[aria-disabled="true"]);

@custom-variant unselected (&[data-selected="false"], &[aria-selected="false"]);

@custom-variant selected (&[data-selected="true"], &[aria-selected="true"]);

@utility touch-callout-none {
    -webkit-touch-callout: none;
}

@layer components {
    .m3-after-state-layer {
        @apply after:content-[''] after:absolute after:inset-0 after:size-full after:rounded-[inherit]
            after:opacity-0 after:pointer-events-none after:bg-current
            group-hover:after:opacity-8 group-focus-visible:after:opacity-10 group-active:after:opacity-10;
    }
}