@layer components {
    .md3-button .md3-button__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* elevated 스타일 ------------------------------------------------------------- */
    .md3-button[data-variant="elevated"] .md3-button__container {
        background-color: var(--md-sys-color-surface-container-low);
        color: var(--md-sys-color-primary);
        box-shadow: var(--md3-shadow-elevation-level1);
    }

    .md3-button[data-variant="elevated"][data-selected="true"] .md3-button__container {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);
    }

    .md3-button[data-variant="elevated"]:disabled .md3-button__container {
        background-color: color-mix(in oklab, var(--md-sys-color-on-surface) 10%, transparent);
        color: color-mix(in oklab, var(--md-sys-color-on-surface) 38%, transparent);
        box-shadow: none;
    }

    /* filled 스타일 --------------------------------------------------------------- */
    .md3-button[data-variant="filled"] .md3-button__container {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);
    }

    .md3-button[data-variant="filled"][data-selected="false"] .md3-button__container {
        background-color: var(--md-sys-color-surface-container);
        color: var(--md-sys-color-on-surface-variant);
    }

    .md3-button[data-variant="filled"]:disabled .md3-button__container {
        background-color: color-mix(in oklab, var(--md-sys-color-on-surface) 10%, transparent);
        color: color-mix(in oklab, var(--md-sys-color-on-surface) 38%, transparent);
        box-shadow: none;
    }

    /* tonal 스타일 ---------------------------------------------------------------- */
    .md3-button[data-variant="tonal"] .md3-button__container {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
    }

    .md3-button[data-variant="tonal"][data-selected="true"] .md3-button__container {
        background-color: var(--md-sys-color-secondary);
        color: var(--md-sys-color-on-secondary);
    }

    .md3-button[data-variant="tonal"]:disabled .md3-button__container {
        background-color: color-mix(in oklab, var(--md-sys-color-on-surface) 10%, transparent);
        color: color-mix(in oklab, var(--md-sys-color-on-surface) 38%, transparent);
        box-shadow: none;
    }

    /* outlined 스타일 ------------------------------------------------------------- */
    .md3-button[data-variant="outlined"] .md3-button__container {
        border-color: var(--md-sys-color-outline-variant);
        color: var(--md-sys-color-on-surface-variant);
    }

    .md3-button[data-variant="outlined"][data-selected="true"] .md3-button__container {
        border: none;
        background-color: var(--md-sys-color-inverse-surface);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .md3-button[data-variant="outlined"]:disabled .md3-button__container {
        color: color-mix(in oklab, var(--md-sys-color-on-surface) 38%, transparent);
    }

    .md3-button[data-variant="outlined"][data-selected="true"]:disabled .md3-button__container {
        background-color: color-mix(in oklab, var(--md-sys-color-on-surface) 10%, transparent);
    }

    /* text 스타일 ----------------------------------------------------------------- */
    .md3-button[data-variant="text"] .md3-button__container {
        color: var(--md-sys-color-primary);
    }

    .md3-button[data-variant="text"]:disabled .md3-button__container {
        background-color: color-mix(in oklab, var(--md-sys-color-on-surface) 10%, transparent);
        color: color-mix(in oklab, var(--md-sys-color-on-surface) 38%, transparent);
    }

    /* xs 스타일 ------------------------------------------------------------------- */
    /* 명시도 뻥튀기 */
    .md3-button[data-size="xs"] .md3-button__container {
        height: calc(32 / 16 * 1rem);
        padding-inline: calc(12 / 16 * 1rem);
        font-family: var(--md-sys-typescale-label-large-font);
        font-weight: var(--md-sys-typescale-label-large-weight);
        font-size: var(--md-sys-typescale-label-large-size);
        letter-spacing: var(--md-sys-typescale-label-large-tracking);
        line-height: var(--md-sys-typescale-label-large-line-height);
    }

    .md3-button[data-size="xs"][data-variant="outlined"] .md3-button__container {
        border-width: 1px;
        border-style: solid;
    }

    .md3-button[data-size="xs"][data-shape="round"] .md3-button__container {
        border-radius: calc(16 / 16 * 1rem); /* Fully rounded */
    }

    .md3-button[data-size="xs"][data-shape="square"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-medium);
    }

    .md3-button[data-size="xs"]:active .md3-button__container:not(#\9) {
        border-radius: var(--md-sys-shape-corner-value-small);
    }

    .md3-button[data-size="xs"][data-shape="round"][data-selected="true"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-medium);
    }

    .md3-button[data-size="xs"][data-shape="square"][data-selected="true"] .md3-button__container {
        border-radius: calc(16 / 16 * 1rem); /* Fully rounded */
    }

    /* sm 스타일 ------------------------------------------------------------------- */
    .md3-button[data-size="sm"] .md3-button__container {
        height: calc(40 / 16 * 1rem);
        padding-inline: calc(16 / 16 * 1rem);
        font-family: var(--md-sys-typescale-label-large-font);
        font-weight: var(--md-sys-typescale-label-large-weight);
        font-size: var(--md-sys-typescale-label-large-size);
        letter-spacing: var(--md-sys-typescale-label-large-tracking);
        line-height: var(--md-sys-typescale-label-large-line-height);
    }

    .md3-button[data-size="sm"][data-variant="outlined"] .md3-button__container {
        border-width: 1px;
        border-style: solid;
    }

    .md3-button[data-size="sm"][data-shape="round"] .md3-button__container {
        border-radius: calc(20 / 16 * 1rem); /* Fully rounded */
    }

    .md3-button[data-size="sm"][data-shape="square"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-medium);
    }

    .md3-button[data-size="sm"]:active .md3-button__container:not(#\9) {
        border-radius: var(--md-sys-shape-corner-value-small);
    }

    .md3-button[data-size="sm"][data-shape="round"][data-selected="true"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-medium);
    }

    .md3-button[data-size="sm"][data-shape="square"][data-selected="true"] .md3-button__container {
        border-radius: calc(20 / 16 * 1rem); /* Fully rounded */
    }

    /* md 스타일 ------------------------------------------------------------------- */
    .md3-button[data-size="md"] .md3-button__container {
        height: calc(56 / 16 * 1rem);
        padding-inline: calc(24 / 16 * 1rem);
        font-family: var(--md-sys-typescale-title-medium-font);
        font-weight: var(--md-sys-typescale-title-medium-weight);
        font-size: var(--md-sys-typescale-title-medium-size);
        letter-spacing: var(--md-sys-typescale-title-medium-tracking);
        line-height: var(--md-sys-typescale-title-medium-line-height);
    }

    .md3-button[data-size="md"][data-variant="outlined"] .md3-button__container {
        border-width: 1px;
        border-style: solid;
    }

    .md3-button[data-size="md"][data-shape="round"] .md3-button__container {
        border-radius: calc(28 / 16 * 1rem); /* Fully rounded */
    }

    .md3-button[data-size="md"][data-shape="square"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-large);
    }

    .md3-button[data-size="md"]:active .md3-button__container:not(#\9) {
        border-radius: var(--md-sys-shape-corner-value-medium);
    }

    .md3-button[data-size="md"][data-shape="round"][data-selected="true"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-large);
    }

    .md3-button[data-size="md"][data-shape="square"][data-selected="true"] .md3-button__container {
        border-radius: calc(28 / 16 * 1rem); /* Fully rounded */
    }

    /* lg 스타일 ------------------------------------------------------------------- */
    .md3-button[data-size="lg"] .md3-button__container {
        height: calc(96 / 16 * 1rem);
        padding-inline: calc(48 / 16 * 1rem);
        font-family: var(--md-sys-typescale-headline-small-font);
        font-weight: var(--md-sys-typescale-headline-small-weight);
        font-size: var(--md-sys-typescale-headline-small-size);
        letter-spacing: var(--md-sys-typescale-headline-small-tracking);
        line-height: var(--md-sys-typescale-headline-small-line-height);
    }

    .md3-button[data-size="lg"][data-variant="outlined"] .md3-button__container {
        border-width: 2px;
        border-style: solid;
    }

    .md3-button[data-size="lg"][data-shape="round"] .md3-button__container {
        border-radius: calc(48 / 16 * 1rem); /* Fully rounded */
    }

    .md3-button[data-size="lg"][data-shape="square"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-extra-large);
    }

    .md3-button[data-size="lg"]:active .md3-button__container:not(#\9) {
        border-radius: var(--md-sys-shape-corner-value-large);
    }

    .md3-button[data-size="lg"][data-shape="round"][data-selected="true"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-extra-large);
    }

    .md3-button[data-size="lg"][data-shape="square"][data-selected="true"] .md3-button__container {
        border-radius: calc(48 / 16 * 1rem); /* Fully rounded */
    }

    /* xl 스타일 ------------------------------------------------------------------- */
    .md3-button[data-size="xl"] .md3-button__container {
        height: calc(136 / 16 * 1rem);
        padding-inline: calc(64 / 16 * 1rem);
        font-family: var(--md-sys-typescale-headline-large-font);
        font-weight: var(--md-sys-typescale-headline-large-weight);
        font-size: var(--md-sys-typescale-headline-large-size);
        letter-spacing: var(--md-sys-typescale-headline-large-tracking);
        line-height: var(--md-sys-typescale-headline-large-line-height);
    }

    .md3-button[data-size="xl"][data-variant="outlined"] .md3-button__container {
        border-width: 3px;
        border-style: solid;
    }

    .md3-button[data-size="xl"][data-shape="round"] .md3-button__container {
        border-radius: calc(68 / 16 * 1rem); /* Fully rounded */
    }

    .md3-button[data-size="xl"][data-shape="square"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-extra-large);
    }

    .md3-button[data-size="xl"]:active .md3-button__container:not(#\9) {
        border-radius: var(--md-sys-shape-corner-value-large);
    }

    .md3-button[data-size="xl"][data-shape="round"][data-selected="true"] .md3-button__container {
        border-radius: var(--md-sys-shape-corner-value-extra-large);
    }

    .md3-button[data-size="xl"][data-shape="square"][data-selected="true"] .md3-button__container {
        border-radius: calc(68 / 16 * 1rem); /* Fully rounded */
    }
}