@layer components {
    .md3-checkbox__container {
        position: absolute;
        width: calc(18 / 16 * 1rem);
        height: calc(18 / 16 * 1rem);
        border-radius: calc(2 / 16 * 1rem);
    }

    .md3-checkbox[data-checked="false"] > .md3-checkbox__container {
        border: calc(2 / 16 * 1rem) solid var(--md-sys-color-on-surface-variant);
    }

    .md3-checkbox[data-checked="true"] > .md3-checkbox__container {
        background-color: var(--md-sys-color-primary);
    }

    .md3-checkbox[data-checked="false"][data-error="true"] > .md3-checkbox__container {
        border: calc(2 / 16 * 1rem) solid var(--md-sys-color-error);
    }

    .md3-checkbox[data-checked="true"][data-error="true"] > .md3-checkbox__container {
        background-color: var(--md-sys-color-error);
    }

    .md3-checkbox__icon {
        position: absolute;
        /* Google Fonts에서 불러오는 CSS 스타일은 레이어가 없을 수도 있으므로 !important로 이겨야 함 */
        font-size: calc(18 / 16 * 1rem) !important;
    }

    .md3-checkbox[data-checked="false"] > .md3-checkbox__icon {
        /* Google Fonts에서 불러오는 CSS 스타일은 레이어가 없을 수도 있으므로 !important로 이겨야 함 */
        display: none !important;
    }

    .md3-checkbox[data-checked="true"] > .md3-checkbox__icon {
        color: white;
    }

    .md3-checkbox > .md3-checkbox__state-layer {
        width: calc(40 / 16 * 1rem);
        height: calc(40 / 16 * 1rem);
        border-radius: calc(20 / 16 * 1rem); /* fully rounded */
    }
}