@layer components {
    .tailored-stateful-container {
        position: relative;
    }

    /* 상태 레이어를 after 요소로 정의 ----------------------------------------------------- */
    .tailored-stateful-container::after {
        position: absolute;
        content: '';
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        opacity: 0;
        pointer-events: none;
        background-color: currentcolor;
    }
    
    /* 컴포넌트 최상위 요소인 TouchTarget의 상호작용 이벤트에 반응 */
    .tailored-touch-target:hover .tailored-stateful-container::after {
        opacity: 0.08;
    }

    .tailored-touch-target:focus-visible .tailored-stateful-container::after {
        opacity: 0.1;
    }

    .tailored-touch-target:active .tailored-stateful-container::after {
        opacity: 0.1;
    }
    
    .tailored-touch-target:focus-visible .tailored-stateful-container {
        outline: var(--md-sys-color-secondary) solid 3px;
        outline-offset: 2px;
    }
}