:root {
    --md3-shadow-elevation-level0: 0px 0px 0px 0px color-mix(in oklab, var(--md-sys-color-shadow) 20%, transparent), 0px 0px 0px 0px color-mix(in oklab, var(--md-sys-color-shadow) 14%, transparent), 0px 0px 0px 0px color-mix(in oklab, var(--md-sys-color-shadow) 12%, transparent);
    --md3-shadow-elevation-level1: 0px 2px 1px -1px color-mix(in oklab, var(--md-sys-color-shadow) 20%, transparent), 0px 1px 1px 0px color-mix(in oklab, var(--md-sys-color-shadow) 14%, transparent), 0px 1px 3px 0px color-mix(in oklab, var(--md-sys-color-shadow) 12%, transparent);
    --md3-shadow-elevation-level2: 0px 3px 3px -2px color-mix(in oklab, var(--md-sys-color-shadow) 20%, transparent), 0px 3px 4px 0px color-mix(in oklab, var(--md-sys-color-shadow) 14%, transparent), 0px 1px 8px 0px color-mix(in oklab, var(--md-sys-color-shadow) 12%, transparent);
    --md3-shadow-elevation-level3: 0px 3px 5px -1px color-mix(in oklab, var(--md-sys-color-shadow) 20%, transparent), 0px 6px 10px 0px color-mix(in oklab, var(--md-sys-color-shadow) 14%, transparent), 0px 1px 18px 0px color-mix(in oklab, var(--md-sys-color-shadow) 12%, transparent);
    --md3-shadow-elevation-level4: 0px 5px 5px -3px color-mix(in oklab, var(--md-sys-color-shadow) 20%, transparent), 0px 8px 10px 1px color-mix(in oklab, var(--md-sys-color-shadow) 14%, transparent), 0px 3px 14px 2px color-mix(in oklab, var(--md-sys-color-shadow) 12%, transparent);
    --md3-shadow-elevation-level5: 0px 7px 8px -4px color-mix(in oklab, var(--md-sys-color-shadow) 20%, transparent), 0px 12px 17px 2px color-mix(in oklab, var(--md-sys-color-shadow) 14%, transparent), 0px 5px 22px 4px color-mix(in oklab, var(--md-sys-color-shadow) 12%, transparent);

    --md3-motion-expressive-fast-spatial: 350ms cubic-bezier(0.42, 1.67, 0.21, 0.90);
    --md3-motion-expressive-default-spatial: 500ms cubic-bezier(0.38, 1.21, 0.22, 1.00);
    --md3-motion-expressive-slow-spatial: 650ms cubic-bezier(0.39, 1.29, 0.35, 0.98);

    --md3-motion-expressive-fast-effects: 150ms cubic-bezier(0.31, 0.94, 0.34, 1.00);
    --md3-motion-expressive-default-effects: 200ms cubic-bezier(0.34, 0.80, 0.34, 1.00);
    --md3-motion-expressive-slow-effects: 300ms cubic-bezier(0.34, 0.88, 0.34, 1.00);

    --md3-motion-standard-fast-spatial: 350ms cubic-bezier(0.27, 1.06, 0.18, 1.00);
    --md3-motion-standard-default-spatial: 500ms cubic-bezier(0.27, 1.06, 0.18, 1.00);
    --md3-motion-standard-slow-spatial: 750ms cubic-bezier(0.27, 1.06, 0.18, 1.00);

    --md3-motion-standard-fast-effects: 150ms cubic-bezier(0.31, 0.94, 0.34, 1.00);
    --md3-motion-standard-default-effects: 200ms cubic-bezier(0.34, 0.80, 0.34, 1.00);
    --md3-motion-standard-slow-effects: 300ms cubic-bezier(0.34, 0.88, 0.34, 1.00);
}